sudo: required
services:
  - docker

before_install:
  - docker build -t pbgess10/docker-react -f Dockerfile.dev .  

script:
  - docker run -e CI=true pbgess10/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker"
  env: "Docker-env"
  bucket-name: "elasticbeanstalk-us-east-1-874883125459"
  bucket-path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"